@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');
   /* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
  
/*menu nav*/

.site-header {
   height: 80px;
   padding-inline-end: 0 !important;
   margin-top: -16px;
   margin-bottom: 10px;
 }

li.menu-item a {
   color: #000000 !important;
   background-color: white;
   text-align: center;
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   font-style: normal;
   line-height: normal;
   width: 165px;
   padding-top: 26px !important;
   padding-bottom: 30px !important;
}

 #menu-item-20  a {
   background-color: #DC9F96;
   color: #fff !important;
}

#menu-item-20 :hover{
	background-color: #C02E44;
 color: #fff !important;
} 



   /*form-commander*/

   .row {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
  }


  .col {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
   }
   .col .img-fruits{
      width: 100%;
   }
   .hidden{
      display: none!important;
   }

/*supprime les flèches des boutons d'incrémentation des champs */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.separateur1 {
   border-top: 1px solid white;
   margin-bottom: 35px !important;
}

.separateur2 {
   position: absolute;
   border-left: 1px solid white;
   height: 365px;
   right: 50%;
}

.row-1 {
   display: flex;
   flex-direction: row;
   justify-content: space-around ;
   font-family: 'Syne', sans-serif;
   color: #fff;
}

.row-1 label {
   font-size: 20px;
   margin-bottom: 15px; 
}

.titre-1  h3 {
  font-size: 36px;
}


.col2 h3 {
   font-size: 36px;
}


.col2 {
   width: 41%;
   padding-left: 8%;
}

.wpcf7-form-control, .wpcf7-text{
   margin-top: 15px;
   padding-bottom: 30px;
   border: none;
 }

 .wpcf7-form input[type=text],
 .wpcf7-form input[type="email"],
 .wpcf7-form input[type="textarea"],
 textarea {
   padding: 15px;
   border-radius: 7px;
   border: none;
   
}

input.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-number{
   font-size: 15px;
   width: 33px;
   padding: 8px;
   padding-left: 12px;
   height: 55px;
   border-radius: 0;
   }


/* butoon commander */

.wpcf7-form input[type="submit"] {
   font-family: syne;
   background-color: #E0B9B4;
   color: white;
   font-size: 15px;
   font-weight: 400;
   font-style: normal;
   line-height: 37px;
   display: block;
   margin: auto;
   width: 198px;
   height: 55px;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   margin-top: 20px;
   border:none;
 }



 /*footer*/

 .site-footer {
   padding-block-start: 0 !important; 
   padding-block-end: 0 !important; 

}

@media (max-width: 425px) {

   .row-1 {
      width: 100%;
      flex-direction: column;
      align-items: center;
   }

   .separateur2 {
      
      border: none;
      text-decoration: none;
   }

   .col1{
      width: 90% !important;
   }

   .col2 {
      width: 90% !important;
      align-items: center;
      padding-left: 1px;
     
   }

   .row {
      flex-direction: column;
      align-items: center;

   }

   /*.elementor-8 .elementor-element.elementor-element-9cf6794 > .elementor-widget-container {
      margin: 0px 0px 0px 0px;
      padding: 0px 5px 0px 5px !important;
   
  }
}
*/


@media (max-width: 768px) {




   .row {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
  }


  .row-1{  
   flex-direction: row;
   font-family: 'Syne', sans-serif;
   color: #fff;
   align-items: center;
   flex-wrap: wrap;
   align-content: stretch;
   justify-content: space-around;
}

.col1{
   width: 45%;
}

.col2 {
    width: 52%;
   
}

}